<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mahnung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Liebe/r <span th:text="${name}"></span>!<br/>
<br/>

Wir haben leider festgestellt, dass Sie Ihre Rechnung noch nicht fristgerecht bezahlt haben.

Deswegen müssen wir Ihnen eine Mahnung senden. <br/>
Die Mahnung finden Sie im Anhang. <br/><br/>

Wir haben uns gefreut, Sie in unserem Hotel begrüßt zu haben.<br/>
<br/>
Mit freundlichen Grüßen<br/>
<br/>
Ihr Hotel
</body>
</html>