<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mahnung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Lieber <span th:text="${name}"></span>!<br/>
<br/>

Wir haben leider festgelegt, dass Sie Ihre Rechnung noch nicht gezahlt haben,
obwohl Sie vor 2 Wochen (unsere allgemeine Frist) Ihr Besuch bei uns beendet haben.

Deswegen müssen wir Sie eine Mahnung senden. Die Mahnung finden Sie im Anhang.

Wir haben uns gefreut, Sie in unserem Hotel begrüßt zu haben.<br/>
<br/>
Mit freundlichen Grüßen<br/>
<br/>
Ihr Hotel
</body>
</html>