<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Mahnung</title>
</head>
<body>
<p>Sehr geehrter Herr <span th:text="${name}"></span>,<br/>
hiermit erhalten Sie eine Mahnung für die Rechnung mit der Rechnungsnummer <span th:text="${bill}"></span>. <br/>
Bitte überweisen Sie uns schnellstmöglich den folgenden Betrag: <span th:text="${amount}"></span>€.
    <br/><br/>
    Vielen Dank, <br/>
    Ihr Hotel
</p>
</body>
</html>