<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zahlungsbestätigung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Lieber <span th:text="${name}"></span>!<br/>
<br/>
Danke für die Zahlung!<br/>
Wir schicken Ihnen im Anhang die Zahlungsbestätigung als PDF.<br/>
Wir freuen uns, Sie in unserem Hotel begrüßen zu dürfen.<br/>
<br/>
Mit freundlichen Grüßen<br/>
<br/>
Ihr Hotel
</body>
</html>